extends layout

block imports
  script(type='text/javascript', src='js/dist/vendor.bundle.js')
  script(type='text/javascript', src='js/dist/bundle.js')

block content
  //span #{user.displayName}
  #app

  