doctype html
html
  head
    title expenses
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/picnicss/6.1.2/picnic.min.css')
    link(rel='stylesheet', href='styles/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/styles.css')

  body
    block content
    block imports
    